.carousel-container {
  /* background: url("../../public/assets/banner-bg.png") rgba(0, 0, 0, 0.5)
    no-repeat center; */
    background: url("../../public/assets/banner-bg.png"), linear-gradient(to right, #15656c93, #053439a4);
  background-size: cover;
  background-blend-mode: darken;
}


.carousel-indicators li {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  background-color: #fff !important;
}

.carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon {
  filter: none !important;
}